* {
    margin: 0;
    padding: 0;
}

.section-one header{
    background-color: rgba(37, 36, 36, 0.459);
    height: 8vh;

}

.section-one_navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.navbar_head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one_p{
    color: white;
    margin-top: 15px;
    margin-left: -730px;
}

.section-one_p1{
    display: block;
    color: white;
    margin-top: 15px;
    margin-left: 150px;
}

.section-one .btn {
    padding: 10px 10px 10px 10px;
    background-color: rgb(0, 217, 255);
    color: #fff;
    border: none;
    position: absolute;
    right: 10px;
    top: 5px;
}

.section-one{
    position: relative;
    background-image: url(https://static.tildacdn.com/tild6463-3636-4437-a166-383461623763/__1600x1200.jpg);
    height: 100vh;
}

.section-one h2{
    text-align: center;
    padding: 270px 500px 0px 530px;
    width: 300px;
    margin-bottom: 70px;
    color: rgb(255, 255, 255);
}

.section-one h3{
    padding: 60px 100px 0px 590px;
    color: rgb(0, 0, 0);
}
    
.card__link-item {
    background-color: rgba(0, 0, 0, 0.568);
    padding: 10px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 655px;

}


/* section-two */   


.section-two{
    height: 101vh;
    background-color: #FFF8DC;
}

.head{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}

.section-two_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-two_item_cards{
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__title{
    text-align: center;
    font-size: 20px;
}

.card__discription{
    text-align: center;
    color: red;
    font-size: 17px;
}

.card__img{
    border-radius: 50%;
}


/* section-three */


.section-three{
    height: 101vh;
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614386942_56-p-pitstsa-na-svetlom-fone-80.jpg);
}

.section-three_head{
    color: black;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

.section-three_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-three_item_cards{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.head_p{
    color: black;
}

.under_p{
    color: black;
}


/* section-for */


.section-for{
    height: 100vh;
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614404438_31-p-pitstsa-na-temnom-fone-44.jpg);
}

.section-for_p{
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    color: white;
}

.section-for_list{
    display: grid;
    grid-template-columns: 1fr;    
}

.feedback{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
    margin-left: 50px;

}

.text{
    color: white;
    font-size: 17px;
    width: 500px;
    background-color: rgba(128, 128, 128, 0.548);
}

.p span{
    font-weight:1000;
}

.section-for_img{
    float: left;
    margin-right: 10px;
}
/*section-five*/


.section-five{
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1614404438_31-p-pitstsa-na-temnom-fone-44.jpg);
    height: 8vh;
}

.section-five_navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-five_navbar_head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-five_p{
    color: white;
    margin-top: 15px;
    margin-left: -730px;
}

.section-five_p1{
    display: block;
    color: white;
    margin-right: 110px;
}

.section-five_p2{
    display: block;
    color: white;
    margin-right: -35px;
    margin-top: 2px;
}